* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    margin: 12px;
    padding: 0px 12px 3px;
    border: solid 1px white;
    color: white;
    background-color: #de5d83;
    font-family: "Hepta Slab ", serif;
    text-align: center;
    margin: 15px auto;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 3.5rem;
    min-width: 8rem;
    margin: 0px 12px 3px;
    padding: 0px 5px 3px 5px;
    border: 1px solid;
    list-style-type: none;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    margin-top: 10px;
    margin-left: 20px;
}

}

title {
    font-family: "Hepta Slab ", serif;
}

body {
    background-color: skyblue;
}

img {
    height: 10em;
    width: em;
}

.line {
    border-top: 1.5px solid #d4af37;
    margin: 5px 0;
}