.nav1 {
    display: flex;
    min-height: 3.5rem;
    margin: 0px 12px 3px;
    padding: 0px 5px 3px 5px;
    border: solid
}

head {
    color: #Dbf3fa;
}

img {
    object-fit: contain;
}

body {
    background-color: #fff;
}

.home {
    padding: 0px 12px 3px;
    margin: 12px;
    font-display: overlay;
}

.services {
    margin: 0px 12px 3px;
}

.contact {
    margin: 0px 12px 3px;
}

.line {
    border-top: 1.5px solid #d4af37;
    margin: 5px 0;
}

.line2 {
    border-top: 1.5px solid #d4af37;
    margin: 5px 0;
}