a {
    text-decoration: none;
    margin: 12px;
    padding: 0px 12px 3px;
    border: solid 1px white;
    color: white;
    background-color: #de5d83;
    font-family: "Hepta Slab ", serif;
}

title {
    font-family: "Hepta Slab ", serif;
}

body {
    background-color: skyblue;
}

img {
    height: 10em;
    width: em;
}

.line {
    border-top: 1.5px solid #d4af37;
    margin: 5px 0;
}